<launch>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find robot_sim)/urdf/robot_sim.urdf -urdf -model robot_sim"
    output="screen" />
   <!-- Robot Controller Config-->
    <rosparam file="$(find robot_sim)/config/joint_names_robot_sim.yaml" command="load"/>
    
    <!-- Load Controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/" args="joint1_position_controller 
                                    joint2_position_controller
                                    joint3_position_controller
                                    joint4_position_controller
                                    joint5_position_controller
                                    joint6_position_controller 
                                    joint_state_controller"/>
                                    
</launch>